<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="false">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>
  <section class="ion-margin">
    <ion-text ><h2>Enter Your Product</h2></ion-text>
    <ion-text><p>We will add it to your grocery List</p></ion-text>
    <form [formGroup]="productForm" (ngSubmit)="submitForm()" action="">

      <ion-input
                  class="input-text ion-padding ion-margin-bottom"
                  placeholder="Name"
                  formControlName="name"
                  required> </ion-input>
      <span class="error ion-padding"
            *ngIf="isSubmitted && errorControl.name.errors?.required">Name is required</span>
      <ion-input  inputmode="numeric"
                  class="input-text ion-padding"
                  placeholder="Price"
                  formControlName="price"
                  required> </ion-input>
      <span class="error ion-padding"
            *ngIf="isSubmitted && errorControl.price.errors?.required">Price is required</span>
      <ion-button expand="full"
                  shape="round"
                  class="ion-margin-top"
                  type="submit">Add</ion-button>
    </form>
  </section>
      <ion-list class="ion-margin">
        <ion-list-header>Your List</ion-list-header>
        <ion-item *ngFor="let product of this.groceryList">
          <ion-avatar slot="start">
            <img src="./assets/icon/favicon.png" alt="">
          </ion-avatar>
          <ion-label>
            <h1>{{product.name}}</h1>
            <ion-badge color="primary">
              <h2>{{product.price | currency: 'EUR'}}</h2>
            </ion-badge>
          </ion-label>
        </ion-item>
      </ion-list>
    <ion-footer collapse="fade">
      <ion-item>
        <ion-label>{{this.groceryList.length}} Items</ion-label>
        <ion-note slot="end">{{this.total | currency: 'EUR'}}</ion-note>
      </ion-item>
    </ion-footer>

</ion-content>
